*{
  margin: 0;
  padding: 0;

}

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: center center fixed;
  background-size: cover;
  font-family: canara;
}

.DarkApp{
    background-color:#293462;
}

input{
  width: 250px;
}

.displayFlex{
  display: flex;
}

#headerDark{
  font-size: 3rem;
  color:#F7D716;
}

#centerContainerDark{
  width: 70%;
  color:#ffffff;
  word-wrap: break-word;
  background-color: #874356;
  padding: 20px;
  border-radius: 5px;
  margin:20px auto;
}

#darkForm{
  width: 70%;
  color:#293462;
  word-wrap: break-word;
  background-color: #FEB139;
  padding: 20px;
  border-radius: 5px;
  margin:20px auto;
  max-width: 250px;
}


#darkPickWinner{
  width: 70%;
  color:#293462;
  word-wrap: break-word;
  background-color: #FEB139;
  padding: 20px;
  border-radius: 5px;
  max-width: 250px;
  margin:20px auto;
}


.darkNotification{
  color: #F7D716;
}


.darkButton{
    border-radius: 25px;
    background-color: #874356;
    padding: 10px;
    margin:10px auto 0px auto;
    width: 120px;
    color: white;
    cursor: pointer;
}
